
.App {
  text-align: center;
  padding-top: 10%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
width: 100%;
height: 100%;

}
:root{
  background: linear-gradient(40deg, #ff008c 0%, #000000 51%, #a200ff 75%);
  height: 100%


}
h1{color: white;}
.cont{
  border: 2px solid;
  border-radius: 10px;
  border-color: #0759ff;
  height: 30vh;
  width: 50vh;
 background: linear-gradient(90deg, rgb(153, 0, 255) , rgb(0, 0, 0)  );

 display: flex;
 flex-direction: row;

  align-items: center;
  justify-content: center;
  text-align: center;
}
.imgg{
  height: 64px;
  width: 64px;
  align-items: baseline;
}
.headd{
  display: flex;
  flex-direction: row;
}
.btn{
  color: #ffffff;
  background-color: #000000;
  border-radius: 20px;
  padding-left: 10px;
  border:  rgb(0, 26, 255) solid 2px;
  size: 20px;
}
.inputt{
  border: #a200ff solid 2px;
  border-radius: 14px;
  color: #ffffff;
  background: #000000;
  transform: scale(0.9);
  size: 30px;
}
.inputt:hover{
  border: rgb(28, 166, 221) solid 3px;
}

.btn:hover{
  border: #a200ff solid 2px;
  transform: scale(0.9);
}

.cont:hover{
  border-color: yellow;
}

